<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- <include file="$(find handsfree_ros_imu)/launch/handsfree_imu.launch"/> -->
  <!-- <arg name="param_file_name" doc="name of param file, e.g. rover" default="nmea1"/>
    <node pkg="ublox_gps" type="ublox_gps" name="gps_front"
			output="screen"
			clear_params="true"
			respawn="true"
			respawn_delay="30">
		<rosparam command="load" file="$(find ublox_gps)/config/config/$(arg param_file_name).yaml" />
	</node> -->
  <!-- <include file="$(find static_obstacle_detection)/launch/static_obstacle.launch" /> -->
  <!-- <node pkg="erp_drive" type="wgs84_to_utmk.py" name="wgs84_to_utmk" output="screen" args="$(arg target)"/> -->
  <!-- <node pkg="race" type="serial_control_node" name="serial_control_node" /> -->
  
  <!-- <node pkg="erp_drive" type="planner.py" name="planner" output="screen" args="$(arg path)"/> -->
  <arg name="param_file_name" doc="name of param file, e.g. rover" default="m"/>
  <node pkg="erp_drive" type="control" name="control" output="screen" args="$(arg target)"/>
</launch>
